
.container {
    position: relative;
    width: 600px;
    height: 800px;
    max-width: 100%;
    border: 5px dashed orange;
    margin: auto;
}

.container div {
    margin:  auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
    line-height: 200px;
    border-radius: 10%;
}

/* position : absolute; */
.container .absolute {
    position: absolute;
    border: 3px solid black;
}

/* 초기위치 */
.container .base {
    position: absolute;
    border: 1px dashed #ddd;
    color: #ddd;
    z-index: -1;
}

/* absolute */
.absolute.first {top: 0px; left: 0px; }
.absolute.second {top: 0px; right: 0px; }
.absolute.third { bottom: 0px; left: 0px; }
.absolute.fourth { bottom: 0px; right: 0px; }

/* base */
.base.first { top: 0; left: 200px; }
.base.second { top: 200px; left: 200px; }
.base.third { top: 400px; left: 200px; }
.base.fourth { top: 600px; left: 200px; }

/* 정가운데 */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top, left      : % 는 부모요소에 대한 비율 */
    /* translate()    : % 는 해당요소에 대한 비율 */
}