/* html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(216, 216, 216);
} */

.floating {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: coral;
	width: 50px;
	height: 50px;
	border-radius: 50%;
    bottom: 100px;
    right: 100px;
    font-size: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.floating .fa {
	position: relative;
	top: -3px;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

/* .floating {
	position: fixed;
	bottom: 100px;
	right: 40px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: coral;
}

.floating a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 44;
	font-size: 40px;
	color: white;
	user-select: none;
} */

section {
	min-height: 600px;
	width: 100%;
}

section.bg {
	background-color: #ddd;
}

html {
	scroll-behavior: smooth;
}