.container {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner {
    text-align: center;
}

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}

.item {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    box-sizing: border-box;
    transition: all 1s;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 75px;
    background-color: white;
    border: 2px dashed gray;
    z-index: -1;
}

/* 
  skew( 각도 deg )
  +deg  : 시계방향으로 회전
  -deg  : 반시계방향으로 회전
*/

.skew1:hover {
    transform: skew(45deg, 45deg);
}

.skew2:hover {
    transform: skewX(45deg);
}

.skew3:hover {
    transform: skewY(45deg);
}