* {
    margin: 0;
    padding: 0;
}

.ball {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: royalblue;
    border-radius: 50%;
    color: white;
    line-height: 200px;
    text-align: center;

    /* 애니메이션 */
    animation-name: ball;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* @keyframes 애니메이션 이름 */
@keyframes ball {
    /* 시작시점 : 0% or from */
    /* 종료시점 : 100% or to */
    /* from {
        left: 0;
    }
    to {
        left: 1000px;
    } */
    0% { left: 0; }
    50% { left: calc(100% - 200px); transform: rotate(350deg); }
    100% { left: 0; }
}
